.benefits{
    margin-bottom: 20px;
    .benefits_info{
        display: flex;
        align-items: center;
        justify-content: center;
        .benefits__image{
            width: 40%;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
        }

       
    }
}