.hero {
    display: grid;
    grid-template-columns: 1.5fr 2fr; /* Divide the grid into two columns */
    align-items: center;
    align-content: center;
    padding: 2rem;
    color: #fff; 
    height: 80vh;
    background-size: cover; 
    background-position: center;
    margin-top: 0;
  }
  
  .hero__info {
   h1,p{
    color: #250024;
   }

   h1{
    margin-bottom: 0;
    font-size: 2rem;
    margin-top: 0;
   }
   p{
    margin-top: 0;
   }
   .hero-logo{
    width: 100px;
   }
  }
  
  .hero__image-grid {
    display: grid;
    gap: 1rem 2rem; /* Add some spacing between images */
    // justify-items: end;

        grid-template-rows: repeat(3, 0.5fr);
        grid-template-columns: repeat(3, 0.5fr);
        grid-auto-flow: row;
        grid-template-areas:
        ". . single-col"  
        ". double-col1 double-col2"
        "triple-col1 triple-col2 triple-col3"; 
      
        margin-top: 0;
  }
  
  .hero__image-grid img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    border: 6px solid #FF8BFF;
    border-radius: 20px;
    border-style: inset;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  //ghfkl
 

  .single-col-content {
    grid-area: single-col;
    /* Add your styles for the single-column content */
  }
  
  .double-col-content1 {
    grid-area: double-col1; /* Place the first item in the second row */
    /* Add your styles for the double-column content */
  }
  .double-col-content2 {
    grid-area: double-col2; /* Place the first item in the second row */
    /* Add your styles for the double-column content */
  }

  .tripple-col-content1{
    grid-area: triple-col1; /* Place the first item in the second row */
  }

  .tripple-col-content2{
    grid-area: triple-col2; /* Place the first item in the second row */
  }
  .tripple-col-content3{
    grid-area: triple-col3; /* Place the first item in the second row */
  }
  
  
  