@use './custom' as * ;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem 0 10rem;
    background-color: transparent;
  }

  .main-logo {
    display: flex;
    align-items: center; 
    .logo {
      width: 50px; /* Adjust width as needed */
      height: auto;
     margin-right: 0;
    }
    .logo-text{
      font-size: 1.2rem;
      color: $purple-darkest;
      margin-left: 0;
    }
  }
  
  
  
  
  .nav-buttons {
    display: flex;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 0.5rem; /* Add some margin between buttons */
  
    &:hover {
      background-color: #eee;
    }
  }
  